
* {
  margin: 0;
  /* padding: 0; */
}

/* ------------------------from style ------   */
/* h2 {
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

textarea {
  display: inline-block;
  padding: 20px;
  margin: 6px 0;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  font-size: larger;
}
.button {
  border-radius: 5px;
  background-color: #410e0e;
  padding: 20px;
  color: white;
  font-size: larger;
  cursor: pointer;
} */

body {
  /* color: whitesmoke; */
  background-color: whitesmoke;
}

.nav {
  background-color: #333;
  font-size: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-family: "Merriweather", serif;
}

.navBtn{
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  margin-top: 20px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 240px;
  margin-top: 20px;
}


@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
} 

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.card1 button,
.card1 form {
  visibility: hidden;
}
.card1:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
.card1:hover button,
.card1:hover form {
  visibility: visible;
}

.large-trip-data,
.small-trip-data {
  border-radius: 5px;
}
/* #displayB, */
#displayForm {
  position: absolute;
  bottom:5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}

#displayB {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
