* {
  margin: 0;
  /* padding: 0; */
}

/* ------------------------form style ------   */
h2 {
  text-align: center;
  padding: 10px;
}

/* input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */
.addForm {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div {
  border-radius: 5px;
}

.addFormTextarea {
  display: inline-block;
  padding: 20px;
  margin: 6px 0;
  width: 97%;
  border-radius: 5px;
  padding: 20px;
  font-size: larger;
}
.button {
  border-radius: 5px;
  background-color: #410e0e;
  padding: 20px;
  color: white;
  font-size: larger;
  cursor: pointer;
  width: 100%;
}
/* ============ */
body {
  /* color: whitesmoke; */
  background-color: rgb(243, 237, 237);
}

.nav {
  background-color: #333;
  font-size: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-family: "Merriweather", serif;
  
}

.navBtn {
  display: flex;
  justify-content: space-around;
  background-color: rgb(240, 236, 236);
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #333;
  text-align: center;
  transition: all 0.2s;
  border-radius: 2px;
  
  
}
.btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  .button1 {
    display: block;
    margin: 0.4em auto;
  }
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
  
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 240px;
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card1 button,
.card1 form{
  visibility: hidden;
  
}
.card1:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  
}

/* #image:hover{
  -webkit-filter: blur(3px);
  filter: blur(3px)
} */

.card1:hover button,
.card1:hover form {
  visibility: visible;
}


.large-trip-data,
.small-trip-data {
  border-radius: 5px;
}
/* #displayB, */
#displayForm {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#displayB {
  /* position: absolute; */
  right: 15%;
  bottom: 5%;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #2196F3;
  color: rgb(253, 253, 253);
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu form {
  padding: 10px;
  background-color: #868080;
  min-width: 250px;
}

.dropdown-menu label {
  display: block;
  font-weight: bold;
}

.dropdown-menu input {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.dropdown-menu button {
  background-color: #2196F3;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #0b7dda;
}
.cardBtn {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.delete{
  background-color: firebrick;
}

.descriptionBox{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bolder;
  color: white;
  font-size: 20px;
  text-align: center;
}